{% extends "base.html" %}
{% block title %}Change Password - Lingobarter{% endblock %}
{% block head_css %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="http://semantic-ui.com/examples/assets/images/logo.png" class="image">
                <div class="content">
                    Change-password to your account
                </div>
            </h2>
            {% include "security/_messages.html" %}
            <form class="ui large form" name="change_password_form" method="post"
                  action="{{ url_for_security('change_password') }}">
                <div class="ui stacked segment">
                    {{ change_password_form.hidden_tag() }}
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ change_password_form.password(placeholder="Old Password") | safe }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ change_password_form.new_password(placeholder="New Password") | safe }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ change_password_form.new_password_confirm(placeholder="New Password Again") | safe }}
                        </div>
                    </div>
                    {{ change_password_form.submit(class="ui fluid large teal submit button", value="Change Password") | safe }}
                </div>

                <div class="ui error message"
                     style="display: {% if change_password_form.password.errors
                     or change_password_form.new_password.errors
                     or change_password_form.new_password_confirm.errors %} block; {% endif %}">
                    <ul class="list">
                        {% if change_password_form.password.errors %}
                            <li>Old Password: {{ change_password_form.password.errors[0] }}</li>
                        {% endif %}
                        {% if change_password_form.new_password.errors %}
                            <li>New Password: {{ change_password_form.new_password.errors[0] }}</li>
                        {% endif %}
                        {% if change_password_form.new_password_confirm.errors %}
                            <li>New Password Confirm: {{ change_password_form.new_password_confirm.errors[0] }}</li>
                        {% endif %}
                    </ul>
                </div>
            </form>
        </div>
    </div>
{% endblock %}