{% extends "base.html" %}
{% block title %}Reset Password - Lingobarter{% endblock %}
{% block head_css %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="http://semantic-ui.com/examples/assets/images/logo.png" class="image">
                <div class="content">
                    Reset-password to your account
                </div>
            </h2>
            {% include "security/_messages.html" %}
            <form class="ui large form" name="reset_password_form" method="post"
                  action="{{ url_for_security('reset_password', token=reset_password_token) }}">
                <div class="ui stacked segment">
                    {{ reset_password_form.hidden_tag() }}
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ reset_password_form.password(placeholder="Password") | safe }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ reset_password_form.password_confirm(placeholder="Password Again") | safe }}
                        </div>
                    </div>
                    {{ reset_password_form.submit(class="ui fluid large teal submit button", value="Reset Password") | safe }}
                </div>

                <div class="ui error message"
                     style="display: {% if reset_password_form.password.errors or reset_password_form.password_confirm.errors %} block; {% endif %}">
                    <ul class="list">
                        {% if reset_password_form.password.errors %}
                            <li>Password: {{ reset_password_form.password.errors[0] }}</li>
                        {% endif %}
                        {% if reset_password_form.password_confirm.errors %}
                            <li>Password Confirm: {{ reset_password_form.password_confirm.errors[0] }}</li>
                        {% endif %}
                    </ul>
                </div>
            </form>
        </div>
    </div>
{% endblock %}