<!doctype html>
<title>Lingo Barter: for language exchange</title>
<div class="page">
  <h1>Your Home Page: {{ session['username'] }}</h1>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('homepage', username=session['username']) }}" method="post">
      <label>Nick Name:</label>
      <input type="text" name="nickname">
      <label>Nationality:</label>
      <input type="text" name="nationality">
      <label>Location:</label>
      <input type="text" name="location">
      <br>
      <label>sex:</label>
      <input type="radio" name="sex" value="1"> male
      <input type="radio" name="sex" value="2"> female
      <input type="radio" name="sex" value="3"> keep private

      <label>age:</label>
      <input type="text" name="age">
      <label>introduction:</label>
      <textarea name="introduction">

      </textarea>
      <br>
      <label>teach_lan:</label>
      <select name="teach_lan" multiple>
          <option>Chinese</option>
          <option>English</option>
          <option>Spanish</option>
          <option>Japanese</option>
      </select>
      <label>learn_lan:</label>
      <select name="learn_lan" multiple>
          <option>Chinese</option>
          <option>English</option>
          <option>Spanish</option>
          <option>Japanese</option>
      </select>
      <input type="submit" value="Update">
  </form>
</div>